<mat-toolbar color="primary" class="nav-bar mat-elevation-z2">
  <mat-label>Centre</mat-label>
  <span class="spacer"></span>
  <ng-container>
    <button mat-button>
      <a class="nav-bar-item" routerLink="/home">Home</a>
    </button>
    <button mat-button>
      <a class="nav-bar-item" routerLink="/tile">Tile</a>
    </button>
    <button mat-button>
      <a class="nav-bar-item" routerLink="/dialog">Dialog</a>
    </button>

    <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button
        *ngFor="let themeName of themeList; let i = index"
        mat-menu-item
        (click)="toggleTheme(themeName)"
      >
        {{ themeName }}
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
<!--  TODO: mat-menu-item  button 怎么设置格式，比如颜色，ngStyle绑定吗？ -->
