@import "~@angular/material/theming";
@import "./app/tile/tile.component.scss";
@import "./tentheme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
}

.container {
  position: fixed;
  top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  border: 2px solid red;
}

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

@include angular-material-theme($theme);
@include tile-theme($theme);
// another dark theme

.dark-theme {
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent: mat-palette($mat-amber, A200, A100, A400);
  $dark-warn: mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme(
    (
      color: (
        primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn,
      ),
    )
  );
  @include angular-material-color($dark-theme);
  @include tile-theme($dark-theme);
}

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: "Roboto, monospace",
  $headline: mat-typography-level(32px, 48px, 100),
  $body-1: mat-typography-level(16px, 24px, 500),
);
@include angular-material-typography($custom-typography);
